@model PagedList.IPagedList<baitapcuoiki.EF.SANPHAM>
@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Quản Lí Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp;Quản Lý Sản Phẩm 
}
@using (Html.BeginForm("Index", "SanPhams", FormMethod.Post))
{

    <div class="col-lg-12" form-group>
        <div class="col-md-6">
            @Html.ActionLink("Tạo Mới", "Create", "SanPhams", new { @class = "btn btn-danger" })

        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
        </div>
    </div>
}
    <div class="col-lg-12" form-group, style="margin-top: 15px">
        <table class="table">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Cấu hình
                </th>
                <th>
                    Mã sản phẩm 
                </th>
                <th>
                    Tên Sản Phẩm
                </th>
                <th>
                    Số Lượng
                </th>
                <th>
                    Nước Sản Xuất
                </th>
                <th>
                    Giá
                </th>
                <th></th>
            </tr>
            @{ var i = 1;}

            @foreach (var item in Model)
            {
            <tr id="  row_@item.MASP">
                <td>@i</td>
                <td><a href="~/Admin/SanPhams/Create/@item.MASP"><i class="fa fa-refresh"></i></a>&nbsp;
                @Ajax.ActionLink("Xóa","Delete", new { @MASP = item.MASP}, new AjaxOptions
         {
        Confirm= "Bạn có muốn xóa bản ghi này ?",
        OnComplete ="$('#row_"+item.MASP+"').remove()",
        HttpMethod = "Delete"
         }, new { @class ="glyphicon glyphicon-trash"}
        )
                </td>

                <td>@item.MASP</td>
                <td>
                    @item.TENSP
                </td>
                <td>
                    @item.Soluong
                </td>
                <td>
                    @item.NuocSX
                </td>
                <td>
                    @item.Gia
                </td>

            </tr>
                i++;
            }

        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
    </div>
