@model PagedList.IPagedList<baitapcuoiki.EF.Category>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-user"></i>&nbsp;Quản Lý  Loại Sản Phẩm
}
@using (Html.BeginForm("Index", "Category", FormMethod.Post))
{

    <div class="col-lg-12" form-group>
        <div class="col-md-6">
            @Html.ActionLink("Tạo Mới", "Create", "Category", new { @class = "btn btn-danger" })

        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-default" />
        </div>
    </div>
}
<div class="col-lg-12" form-group, style="margin-top: 15px">
    <table class="table">
     
            <tr>
                <th>
                    Cấu hình
                </th>
                <th>
                    Mã Loại Sản Phẩm
                </th>
                <th>
                    Tên Loại Sản Phẩm
                </th>
                <th>
                    Miêu tả
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {


                <tr id="row_@item.CategoryID">
                    <td>
                        <a href="~/Admin/Category/Create/@item.CategoryID"><i class="fa fa-refresh"></i></a>&nbsp;
                        @Ajax.ActionLink("Xóa","Delete", new { @id = item.CategoryID}, new AjaxOptions
                        {
                       Confirm= "Bạn có muốn xóa bản ghi này ?",
                       OnComplete ="$('#row_"+item.CategoryID+"').remove()",
                       HttpMethod = "Delete"
                        }, new { @class ="glyphicon glyphicon-trash"}
                       )
                    </td>
                    <td>
                        @item.CategoryID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
        </div>